<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rush</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Rush.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/user/signin">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/signin">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/signup">Create an account</a>
                </li>
            </ul>
        </div>
    </nav>
    <section class="home">
        <div class="leftHome">
            <img src="/img/friends.svg" alt="online_message image">
        </div>
        <div class="rightHome">
            <h1>What social networks should always have been.</h1>
            <h3>Easy to use</h3>
            <h3>No ads</h3>
            <h3>No data collect</h3>
        </div>
    </section>
</body>

</html>