<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rush - sign up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div>
        <form action="/submit-signup" method="POST">
            <div>
                <h1>Create your account</h1>
            </div>
            <div>
                <label for="">email</label>
                <input type="text" name="email" required>
            </div>
            <div>
                <label for="">password</label>
                <input type="password" name="password" required>
            </div>
            <div>
                <label for="">confirm password</label>
                <input type="password" name="confirm_password" required>
            </div>
            <input type="submit" value="Confirm">
        </form>
    </div>
</body>
</html>